html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: 40px;
}

header {
    text-align: left;
    /* Center the text within the header */
    position: relative;
    /* Positioning context for pseudo-elements */
    height: 20px;
    width: 100%;
}

header::after {
    content: "";
    position: absolute;
    bottom: 4px;
    /* Adjust this value to control the distance of the double line from the text */
    left: 0;
    width: 100%;
    border-bottom: 6px double black;
}

h1 {
    margin-bottom: 20px;
}

footer {
    padding: 40px;
    border-top: 6px double black;
    width: 100%;
    margin: 0;
    padding-left: 0%;
}

.container {
    margin: 50px auto;
    width: 100%;
    text-align: left;
    flex-wrap: wrap;
    min-height: calc(80vh - 80px);
    /* border-color: black; 
    border: 1px solid #110f0f;  */
}

.blogPostsContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
}